@model EiSorteei.Data.Produto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutComprar.cshtml";
}

<style>
    body {
        background: #1F1F1F;
    }

    #Rifas {
        width: 100%;
        justify-content: center;
        margin:auto;
    }

    .NumeroRifa {
        background-color: #E0C777;
        width: 19%;
        color: #fff;
        margin: 5px;
        font-size: 28px;
        text-align: center;
        border-radius: 20px;
        transition: all .3s ease-in-out;
        cursor: pointer;    
    }

        .NumeroRifa:hover {
            background-color: #1F1F1F;
        }

    .carousel {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .informacoes{
        color:#fff;
        width:60%;
        margin:auto;
    }

    #Arrows{
        margin-bottom:10px;
    }

    #next,#prev {
        background-color: #E0C777;
        border-radius:50%;
        padding:10px 16px 10px 16px;
        margin:10px;
        cursor:pointer;        
    }


</style>


<section class="blog-container" style="padding-bottom:0;">
    <div class="center">
        <div class="upper-box">
            <h1>Escolha o número da sua Rifa</h1>
        </div>
    </div>
</section>

<section>
    <div class="carousel" align="center">

        @foreach (var x in ViewBag.Imagens)
        {
            <div><img src="~/Content/ImagemProdutos/@x.Caminho" alt="Imagem do Produto" style="width:30%;" /></div>
        }

    </div>


</section>

<div class="informacoes">

    <div align="center" id="Arrows">
        <i class="fas fa-chevron-left fa-2x" id="prev"></i>
        <i class="fas fa-chevron-right fa-2x" id="next"></i>
    </div>

    <h3 align="center">@Model.Nome</h3>
    <p>@Html.Raw(Model.Descricao)</p>
    <h3 align="center">Valor da Rifa: R$ @Math.Round(Model.ValorRifa, 2)</h3>

    <div id="Rifas" class="row">

        @for (int x = 1; x <= Model.RangeCodigo; x++)
        {
            <span class="NumeroRifa">@x</span>
        }

    </div>
</div>





@section Scripts{

    <script>

        $(document).ready(function () {

            $('.carousel').slick({
                autoplay: true,
                autoplaySpeed: 2000,
                nextArrow: '#next',
                prevArrow: '#prev'
            });


        });

    </script>


}
