
@{
    ViewBag.Title = "Regulamento";
}

<style>

    .main {
        margin: 50px auto;
        width: 80%;
    }
</style>

<a class=btn-whatsapp target=_blank href="https://api.whatsapp.com/send?phone=5524999583321">
    <img src=/webfiles/images/whatsapp.svg alt="Whatsapp Logo">
    <span>Fale Conosco</span>
</a>
<div class="main">

    <h4>Sobre os Vendedores</h4>
    <p>
        O vendedor ao se cadastrar na plataforma da Ei Sorteei, deverá assinar digitalmente os termos do contrato temporário de prestação de serviços
        por tempo determinado de 12 semanas, onde deixa claro que NÃO possui vínculo empregatício com a Ei Sorteei,
        e que seu pagamento se fará ÚNICA e EXCLUSIVAMENTE por comissões sobre seus resultados.
    </p>


    <p>
        Ao ser aprovado pela plataforma Ei Sorteei, receberá em seu e-mail um código de identificação que, por meio deste, será responsável pela
        rastreabilidade e contabilização dos bilhetes vendidos e consequentemente, por seus ganhos.
    </p>

    <p>
        O vendedor deverá abrir uma conta digital no mercado pago para receber seus bônus. E após aberta, deverá informar os dados da conta para
        a Ei Sorteei para que sejam feitos os repasses conforme seu resultado.
    </p>

    <p>
        O ciclo de venda dos bilhetes se inicia às 00:00 hora de Segunda Feira e se encerra às 23:59 de Domingo.
    </p>

    <p>
        A bonificação dos vendedores se dará da seguinte forma:
    </p>

    <p>
        O vendedor receberá de semanalmente ás segundas feiras em sua conta do mercado pago, a quantia correspondente as vendas confirmadas até as 23:59 do dia anterior. A ser definida como:
    </p>

    <ul style="list-style: disc;">
        <li>25% do valor total dos bilhetes vendidos por ele, na semana anterior, caso a quantidade seja inferior a 100 bilhetes.</li>
        <li>30% do valor total dos bilhetes vendidos por ele, na semana anterior, caso a quantidade seja igual ou superior a 100 bilhetes e inferior a 500 bilhetes.</li>
        <li>40% do valor total dos bilhetes vendidos por ele, na semana anterior, caso a quantidade seja igual ou superior a 500 bilhetes</li>
    </ul>


    <table class="table table-hover table-striped text-center">

        <thead>
            <tr>
                <td>Bilhetes Vendidos</td>
                <td>Bonificação</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>0 - 99</td>
                <td>25%</td>
            </tr>

            <tr>
                <td>100 - 499</td>
                <td>30%</td>
            </tr>

            <tr>
                <td>500 ou mais</td>
                <td>40%</td>
            </tr>
        </tbody>

    </table>

    <h4>Bônus de Pagamento</h4>
    <p>
        O vendedor fará jus a uma bonificação EXTRA de R$ 500,00 a cada 100 bilhetes vendidos, a ser creditada em sua conta 2 dias após o sorteio.
    </p>
    <p>
        Bônus de R$500 Reais em bilhetes para o próximo sorteio para o vendedor que realizou a venda do bilhete premiado.
    </p>
    <p>
        Bônus de 5% sobre o valor total de suas bonificações, caso o vendedor opte pelo pagamento acumulado a cada 4 semanas.
    </p>

    <h4>Responsabilidades</h4>
    <ol>
        <li>O site Ei Sorteei faz o intermédio de pagamentos dos números reservados.</li>
        <li>Todo o gerenciamento das ações é de responsabilidade única e exclusiva da Ei Sorteei. Sendo assim, a Ei Sorteei se responsabiliza pela criação de ações, entrega dos prêmios e pagamentos feitos às ações.</li>
        <li>A Ei Sorteei irá remover sem aviso prévio qualquer conteúdo ou banir a conta de qualquer participante caso estes infrinjam qualquer regra descrita abaixo.</li>
    </ol>

    <h4>Cadastro/Uso do Site</h4>
    <ol>
        <li>Apenas pessoas físicas e maiores de 18 anos podem participar do site.</li>
        <li>O usuário concede o direito prévio da divulgação do seu nome, e-mail e telefone para a Ei Sorteei, que poderá usar esses dados, posteriormente, para a divulgação do mesmo, caso seja ele o vencedor.</li>
        <li>O usuário concede o direito de enviarmos publicidade de novos sorteios/rifas, podendo este, a qualquer momento, remover a autorização no rodapé de nossa página inicial.</li>
    </ol>

    <h4>Sorteios</h4>
    <ol>
        <li>O usuário deverá escolher um de nossos sorteios ativos no site (www.eisorteei.com), para poder concorrer aos prêmios.</li>
        <li>A compra dos bilhetes deverá ser realizada exclusivamente dentro do nosso site (www.eisorteei.com), em nossas opções disponíveis: Boleto ou Cartão de Crédito ou Transferência via PIX.</li>
        <li>Após o pagamento ser validado pelo financeiro, o usuário receberá uma confirmação de pagamento por e-mail / Whatsapp e, somente após essa confirmação, o usuário poderá concorrer aos prêmios daquele sorteio.</li>
        <li>Caso o usuário não nos envie o comprovante de pagamento (nos casos de transferência bancária) e, por esse motivo, o pagamento não tenha sido dado baixa em nosso sistema, o usuário não concorrerá ao prêmio.</li>
        <li>Não será permitida a troca de titularidade dos bilhetes.</li>
        <li>Todos os nossos sorteios são realizados tendo como base a Loteria federal, vinculado ao 1º prêmio lidos os 4 últimos números da esquerda para a direita. Por Ex.: Se o número “1 0 8 5 6 3” foi o sorteado na Loteria Federal, o vencedor da Ei Sorteei será o usuário com o bilhete de número 8563. Essa regra pode mudar caso a quantidade de bilhetes seja diferente de 10.000</li>
        <li>Os sorteios das Loterias CAIXA são realizados no Espaço Loterias CAIXA, localizado no Terminal Rodoviário Tietê, em São Paulo/SP, no Auditório da CAIXA em Brasília/DF ou em ambientes de sorteio de uso da CAIXA.</li>
        <li>Os locais dos sorteios são divulgados previamente na página da CAIXA, no endereço www.loterias.caixa.gov.br . O público também pode acompanhar pela televisão ou pelas redes sociais das Loterias CAIXA (perfil @@LoteriasCAIXAOficial no Facebook e canal CAIXA no YouTube).</li>
        <li>
            CASO HAJA O SORTEIO E SE TODOS OS BILHETES NAO SEJAM VENDIDOS ATÉ A DATA DO SORTEIO:<br />
            Na hipótese de que o número sorteado 1º prêmio da loteria federal não tenha sido adquirido por ninguém, conforme as regras aqui estabelecidas, será considerado contemplado o numero sorteado pelo 2º prêmio e assim sucessivamente até o 5º prêmio.<br />
            Se nenhum destes forem contemplados, vencedor será o número do 1º prêmio (+1).
        </li>
    </ol>

    <h4>Ex.</h4>
    <ul>
        <li>1º - 035154 +1 = O vencedor será o número 5155</li>
        <li>2º - 065345</li>
        <li>3º - 090910</li>
        <li>4º - 080365</li>
        <li>5º - 035605</li>
    </ul>

    <p>A soma e subtração de 1 do primeiro prêmio será feita até que haja um contemplado.</p>
    <ol>
        <li>
            Caso não ocorra extração da loteria federal do Brasil em alguma das datas previstas, será considerada a próxima extração da Loteria Federal do Brasil que venha a ser realizada.
        </li>
        <li>
            Fica a critério da Ei Sorteei realizar ou não o sorteio caso o quantitativo mínimo de bilhetes (a ser definido no regulamento de cada prêmio), não seja vendido até a data do sorteio. Podendo este, ser prorrogado conforme determinação da Ei Sorteei.
        </li>
        <li>
            Caso, na data limite do sorteio, não se atinja o número mínimo de bilhetes definido por cada sorteio, (a ser definido no regulamento de cada prêmio) fica a critério do sorteador a postergação da data do sorteio até que se atinja o mínimo necessário para que ocorra o sorteio.
        </li>
        <li>
            Caso esse quantitativo não seja atingido, após o sorteio ter sido prorrogado pela terceira vez, o valor do bilhete será ressarcido integralmente, acrescido de um desconto de 50% na compra de bilhetes para o próximo prêmio.
        </li>
        <li>
            Todo bilhete da Ei Sorteei é disponibilizado EXCLUSIVAMENTE de forma digital na plataforma da Ei Sorteei e/ou por seus representantes oficiais cadastrados na plataforma.
        </li>
        <li>
            Sendo assim, todo valor financeiro será transacionado de forma digital, SOMENTE na plataforma.
        </li>
        <li>
            Em nenhuma hipótese deverá ocorrer transações financeiras em nome da Ei Sorteei de forma física.
        </li>
        <li>
            A Ei Sorteei não se responsabiliza por quaisquer eventos financeiro transcorridos fora da plataforma da Ei Sorteei.
        </li>
    </ol>

    <h4>Vencedor do Sorteio</h4>
    <ol>
        <li>
            Após o ganhador ser divulgado, a nossa equipe irá entrar em contato para combinar a entrega do prêmio, que será feita sem qualquer custo, na cidade do ganhador. Todos os custos com a entrega dos prêmios são de responsabilidade da Ei Sorteei.
        </li>
        <li>
            A entrega do prêmio só será realizada, mediante o vencedor estar em posse de um documento oficial, com foto, que comprove a sua titularidade do bilhete.
        </li>
        <li>
            Caso o vencedor não consiga apresentar os documentos que comprovem a sua titularidade em até 7 dias corridos, o bilhete será cancelado e o mesmo perderá o direito de receber o prêmio.
        </li>
    </ol>

    <h4>Sobre o Prêmio</h4>
    <ol>
        <li>
            O prêmio e todas as suas especificações, serão definidos conforme o sorteio vigente e o bilhete adquirido pelo cliente.
        </li>
        <li>
            As variantes de premiação poderão conter adicionais descritos em cada prêmio, e a contemplação dessas variantes, ficará dependente da modalidade do bilhete adquirido.
        </li>
        <li>
            Caso o ganhador opte, terá a opção de retirar o valor do prêmio em espécie, decrescido de 35% sobre o valor nominal de tabela FIPE do automóvel na data vigente do sorteio.
        </li>
    </ol>

    <h4>Termos de Uso</h4>
    <p>
        Da participação nos certificados de contribuição permeável.
    </p>

    <p>
        Toda e qualquer pessoa, maior de 18 anos, poderá participar dos sorteios disponíveis.
    </p>

    <p>
        Da definição do ganhador
    </p>

    <p>
        Do cancelamento do certificado de contribuição permeável
    </p>

    <p>
        O site poderá, sem aviso prévio, cancelar qualquer ação que viole um ou mais termos aqui dispostos. O criador da ação poderá realizar o cancelamento do mesmo na tela de edição da ação.
    </p>

    <p>
        O reembolso de bilhetes ocorrerá exclusivamente em casos de cancelamento da ação, ou seja, o criador da ação ou site não se obriga a reembolsar participantes que adquirirem bilhetes on-line caso a ação não tenha sido cancelada.
    </p>

    <p>
        É completamente vedado o uso de perfis falsos visando criar ações sem a genuína intenção de realizá-las seguindo os termos aqui dispostos. É completamente vedado a participação do organizador em sua própria ação. O site pode alterar a qualquer momento estes termos visando melhorar a qualidade do serviço oferecida. O site informará a todos os usuários sempre que ocorrer uma alteração nos termos de uso e o usuário deverá aceitar as mudanças para continuar utilizando o site.
    </p>

</div>


